stack box {
	margin: 0.2em;
}

.listboxrow {
	padding: 0.7em;
	min-width: 10em;
}

.maincontainer {
	min-height : 25em;
}

popover {
	padding: 0.6em;
}

progressbar {
	min-width: 20em;
	padding: 0.6em;
}

.circularbutton {
	border-radius: 10em;
}

.bridgeslist {
	min-height: 15em;
}
